src/*.obj
src/*.exe
model/saved_model/
model/dueler_model/
model/winner_predictor_model/
model/.ipynb_checkpoints
.sconsign.dblite
.vscode
.idea
*.pdb
*.onnx
*.data
thirdparty/*
*compile_commands.json
