src/*/*.obj
src/*.obj
src/*.exe
model/saved_model/
model/dueler_model/
model/winner_predictor_model/
model/.ipynb_checkpoints
model/legacy*
model/player_zero_model_gen*
model/*.csv
model/dummy_data_model
.sconsign.dblite
.vscode
.idea
*.pdb
*.onnx
*.data
thirdparty/*
*compile_commands.json
*.pyc